{% extends 'base.html' %}
{% block title %}
{{ data["page_title"] }}
{% endblock title %}
{% block script %}
{{ data["script"] }}
{% endblock script %}
{% block content %}
<h1>Submit</h1>
<h2>Submit a new recipe here:</h2>

<form id="form-ingredient-set1">
    <label id="label-ingredient-set1-ingredient1" for="input-ingredient-set1-ingredient1">Ingredient 1:</label>
    <input id="input-ingredient-set1-ingredient1" type="text">
    <br class="break-ingredient-set1-ingredient1">
    <br class="break-ingredient-set1-ingredient1">
    <input type="button" id="add-ingredient-set1" value="Add Ingredient"><br><br>
    <input type="button" id="remove-ingredient-set1" value="Remove Ingredient"><br><br>
    <input type="submit" id="submit-ingredient-set1" value="Submit">
</form>
{% endblock content %}